.navbar {
    transition: all 0.4s;
  }
  
  
  
  .navbar .nav-link:hover,
  .navbar .nav-link:focus {
    color: black;
    text-decoration: none;
  }

  .nav-link {
    color: black !important;
    font-size: 20px;
  }

  .navbar-brand {
    color: black !important;
    font-size: 25px;
  }