footer{
    height: 120px;
    display: flex;
    width: 100%;
    position: absolute;
    bottom: 0;
  }

  .foot-icons{ /* div */
    display: flex;
    padding: auto 7rem;
    justify-content: center;
  }

  .icons{
    width: auto;
    margin: auto 20px;
  }

  .row{
    margin: 0;
  }