footer{
    height: 120px;
    line-height: 120px;
    display: flex;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
  }

  .foot-icons{ /* div */
    display: flex;
    padding: auto 7rem;
    justify-content: center;
  }

  .icons{
    width: auto;
    margin: auto 20px;
  }

  .row{
    margin: 0;
  }

  body {
   margin-bottom: 120px;

  }

  html {
    position: relative;
    min-height: 100%;
  }