

  #me {
    max-width: 75%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: block;
    border-radius: 50%;
  }

  p {
    font-weight: bolder;
    text-align: center;
    font-size: x-large;
    text-shadow: 0 0 3px black;
    color: white;
  }

  .picturecontainer {
    display: flex;
    justify-content: center;
  }